"*":
  "exception-reporting":
    userId: "b2fa8420-b6fd-f30f-bcc9-573c17b89910"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    invisibles: {}
    showIndentGuide: true
    tabLength: 4
    showInvisibles: true
    fontSize: 15
  "atom-slime":
    lispName: "wx86cl64"
    slimePath: "C:\\lisp\\slime-2.15"
  minimap: {}
